*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Shrikhand', cursive Georgia, 'Times New Roman', Times, serif
    
}

header 

.cabecera {
    background-color: #696969;
    display: flex;
}

ul{ display: flex;
justify-content: space-between;
    padding: 20px 20px;
}

.logo-de-h {
    display: flex;
    justify-content: left;
    align-items: center;
}
.iconos-de-h {
    display: flex;
    justify-content: right;
    align-items: center;
}

.icono1 {
  padding: 15px;  
}
.icono2 {
    padding: 15px;
}
.icono3 {
    padding: 15px;  
}


body{
    background-color: #e6eef0
    ;

}

h1 {
    font-family: system-ui;
    font-style: oblique;
    color: #054ba8;
    font-size: 280%;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
text-align: center;
}



  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: 45%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 10px;
    border: 1px solid #054ba8; 
    border-radius: 5%;
    text-align: center;
    margin: 12px;

}

@media (max-width: 650px) {
    .image {
        width: 100%;
    }
}