*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Shrikhand', cursive Georgia, 'Times New Roman', Times, serif
}

header 

.cabecera {
    background-color: #696969;
    display: flex;
}

ul{ display: flex;
justify-content: space-between;
    padding: 20px 20px;
}

.logo-de-h {
    display: flex;
    justify-content: left;
    align-items: center;
}
.iconos-de-h {
    display: flex;
    justify-content: right;
    align-items: center;
}

.icono1 {
  padding: 15px;  
}
.icono2 {
    padding: 15px;
}
.icono3 {
    padding: 15px;  
}


body{
    background-color: #e6eef0
    ;

}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    color: #054ba8;
    font-size: 280%;
    padding-bottom: 10px;
    text-align: center;}

.enl-grados-tit{
    font-weight: bold;
    justify-content: center;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    color:  #3a3939;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-size: 145%;
    font-style: italic;
}
    
.enl-grados  {

    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;

}

.img-gra {
    border-radius: 5%;
}

.contenedor{
    width: 95%;
display: flex;
justify-content: center;

  }
